<!DOCTYPE html>
<html>
  <head>
    <title>When President</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1><a href="/">When President...</a></h1>
    <nav>
      <a href='/candidates'>Candidates from Backend</a>
    </nav>
    {{{body}}}
  </body>
</html>
